<footer class="bg-amber-100 border-t-2 p-[0.1px] border-amber-500 text-black">
  <div class="flex justify-around font-bold mt-5">
    <ul>
      <li class="list-none mt-1 mb-1 mr-0 ml-0 text-[calc(0.9vw+0.1em)]">
        <h2 class="border-b-2 border-black text-[calc(1.2vw+0.8em)]">INFORMACIÓN</h2>
      </li>
      <li class="list-none mt-1 mb-1 mr-0 ml-0 text-[calc(0.9vw+0.1em)]">
        +51 1 2398075
      </li>
      <li class="list-none mt-1 mb-1 mr-0 ml-0 text-[calc(0.9vw+0.1em)]">
        +51 974 884 620
      </li>
      <li class="list-none mt-1 mb-1 mr-0 ml-0 text-[calc(0.9vw+0.1em)]">
        contacto&#64;flavorsfeast.com
      </li>
      <li class="list-none mt-1 mb-1 mr-0 ml-0 text-[calc(0.9vw+0.1em)]">
        Av. José Leguía y Meléndez 895, Pueblo Libre 15084
      </li>
    </ul>
    <ul>
      <li class="list-none mt-1 mb-1 mr-0 ml-0 text-[calc(0.9vw+0.1em)]">
        <h2 class="border-b-2 border-black text-[calc(1.2vw+0.8em)]">
          POLÍTICA Y CONDICIONES
        </h2>
      </li>
      <li class="list-none mt-1 mb-1 mr-0 ml-0 text-[calc(0.9vw+0.1em)]">
        <a href="">Terminos y condiciones de uso</a>
      </li>
      <li class="list-none mt-1 mb-1 mr-0 ml-0 text-[calc(0.9vw+0.1em)]">
        <a href="">Política de privacidad</a>
      </li>
      <li class="list-none mt-1 mb-1 mr-0 ml-0 text-[calc(0.9vw+0.1em)]">
        <a href="">Libro de reclamaciones</a>
      </li>
      <li class="list-none mt-1 mb-1 mr-0 ml-0 text-[calc(0.9vw+0.1em)]">
        <a href=""><img src="images/libro-reclamaciones.jpg" width="22%" /></a>
      </li>
    </ul>
  </div>
  <div class="text-[calc(0.7vw+0.4em)] ml-[13%] text-gray-700">
    <p>© 2024 All rights reserved “Flavors Feast Restaurants"</p>
  </div>
</footer>
