<article class="flex flex-col rounded-lg h-65 bg-white md:max-w-xl md:flex-row">
  <img
    class="h-full w-full rounded-t-lg object-cover md:w-60 md:!rounded-none md:!rounded-s-lg"
    [src]="productoAgregado.imagenUrl"
    [alt]="productoAgregado.nombre"
  />
  <div class="flex flex-col justify-between p-6">
    <div>
      <h5 class="mb-2 text-xl font-medium text-black">{{ productoAgregado.nombre }}</h5>
      <p class="mb-4 text-base text-black">
        {{ productoAgregado.descripcion }}
      </p>
      <p class="text-lg text-amber-400 font-medium">S/.{{ productoAgregado.precio }}.00</p>
    </div>
    <div class="text-end">
      <button
        class="opacity-70 hover:cursor-pointer hover:opacity-100 transition-[opacity] duration-200 text-black"
        (click)="agregarProducto(productoAgregado)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-10"
        >
          <path
            fill-rule="evenodd"
            d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 9a.75.75 0 0 0-1.5 0v2.25H9a.75.75 0 0 0 0 1.5h2.25V15a.75.75 0 0 0 1.5 0v-2.25H15a.75.75 0 0 0 0-1.5h-2.25V9Z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </div>
  </div>
</article>
